{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create an Account - Tutoria</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">


</head>
<body>

  {% include 'users/header.html' %}

<main class="create-account">
  <div class="signup-container">
    <div class="signup-welcome">
      <h2>Welcome to <span class="brand-name">Tutoria</span></h2>
      <p>Connecting you with the perfect tutor to achieve your learning goals.</p>
      <img src="{% static 'images/owl.png' %}" alt="Welcome to Tutoria" class="owl-icon">
   
    </div>
    <div class="signup-form">
      <h3>Create an account</h3>
      <p>To get started, you'll need an account.</p>
      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label for="last_name">Last Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
        
        <label for="first_name">First Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
        
        <label for="middle_name">Middle Name</label>
        <input type="text" id="middle_name" name="middle_name" placeholder="Middle Name">
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <label for="address">Home Address</label>
        <input type="email" id="address" name="address" placeholder="Address" required>
        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        
        
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        
        <label for="re_password">Re-enter Password</label>
        <input type="password" id="re_password" name="re_password" placeholder="Re-enter Password" required>
        
        <p>Choose Role:</p>
        <div class="role-options">
          <label>
            <input type="radio" name="role" value="parent" required>
            Parent/Guardian
          </label>
          <label>
            <input type="radio" name="role" value="tutor" required>
            Tutor
          </label>
        </div>
        
        <button type="submit" class="btn-primary">SUBMIT</button>
      </form>
 
    </div>
  </div>
</main>

<script src="{% static 'js/index.js' %}"></script>


<script>

   function signin(){

window.location.href = "{% url 'signin' %}"


}


function signup(){

window.location.href = "{% url 'signup' %}"


}
</script>



</script>
</body>
</html>
